/* Global Util Styles */
.flexSpaceBetween {
  display: flex;
  justify-content: space-between;
}

.flexEnd {
  display: flex;
  justify-content: flex-end;
}

.width100 {
  width: 100%;
}

.maxWidth50 {
  width: 100%;
  max-width: 50%;
}