/* Global Util Styles */
.flexAlignItems {
  display: flex;
  align-items: center;
}

.flexCol {
  display: flex;
  flex-direction: column;
}

.flexEnd {
  display: flex;
  justify-content: flex-end;
}

.flexJustifyCenter {
  display: flex;
  justify-content: center;
}

.flexSpaceBetween {
  display: flex;
  justify-content: space-between;
}

.maxWidth50 {
  width: 100%;
  max-width: 50%;
}

.width100 {
  width: 100%;
}
